# Implementing Linear Regression

In [9]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
automobile = fetch_ucirepo(id=10) 
  
# data (as pandas dataframes) 
X = automobile.data.features 
y = automobile.data.targets 
  
# metadata 
automobile.metadata

{'uci_id': 10,
 'name': 'Automobile',
 'repository_url': 'https://archive.ics.uci.edu/dataset/10/automobile',
 'data_url': 'https://archive.ics.uci.edu/static/public/10/data.csv',
 'abstract': "From 1985 Ward's Automotive Yearbook",
 'area': 'Other',
 'tasks': ['Regression'],
 'characteristics': ['Multivariate'],
 'num_instances': 205,
 'num_features': 25,
 'feature_types': ['Categorical', 'Integer', 'Real'],
 'demographics': [],
 'target_col': ['symboling'],
 'index_col': None,
 'has_missing_values': 'yes',
 'missing_values_symbol': 'NaN',
 'year_of_dataset_creation': 1985,
 'last_updated': 'Thu Aug 10 2023',
 'dataset_doi': '10.24432/C5B01C',
 'creators': ['Jeffrey Schlimmer'],
 'intro_paper': None,
 'additional_info': {'summary': 'This data set consists of three types of entities: (a) the specification of an auto in terms of various characteristics, (b) its assigned insurance risk rating, (c) its normalized losses in use as compared to other cars.  The second rating corresponds to the degree to which the auto is more risky than its price indicates. Cars are initially assigned a risk factor symbol associated with its price.   Then, if it is more risky (or less), this symbol is adjusted by moving it up (or down) the scale.  Actuarians call this process "symboling".  A value of +3 indicates that the auto is risky, -3 that it is probably pretty safe.\r\n\r\nThe third factor is the relative average loss payment per insured vehicle year.  This value is normalized for all autos within a particular size classification (two-door small, station wagons, sports/speciality, etc...), and represents the average loss per car per year.\r\n\r\nNote: Several of the attributes in the database could be used as a "class" attribute.',
  'purpose': None,
  'funded_by': None,
  'instances_represent': None,
  'recommended_data_splits': None,
  'sensitive_data': None,
  'preprocessing_description': None,
  'variable_info': 'Attribute: Attribute Range\r\n\r\n  1. symboling:                -3, -2, -1, 0, 1, 2, 3.\r\n  2. normalized-losses:        continuous from 65 to 256.\r\n  3. make:                     \r\n                               alfa-romero, audi, bmw, chevrolet, dodge, honda,\r\n                               isuzu, jaguar, mazda, mercedes-benz, mercury,\r\n                               mitsubishi, nissan, peugot, plymouth, porsche,\r\n                               renault, saab, subaru, toyota, volkswagen, volvo\r\n\r\n  4. fuel-type:                diesel, gas.\r\n  5. aspiration:               std, turbo.\r\n  6. num-of-doors:             four, two.\r\n  7. body-style:               hardtop, wagon, sedan, hatchback, convertible.\r\n  8. drive-wheels:             4wd, fwd, rwd.\r\n  9. engine-location:          front, rear.\r\n 10. wheel-base:               continuous from 86.6 120.9.\r\n 11. length:                   continuous from 141.1 to 208.1.\r\n 12. width:                    continuous from 60.3 to 72.3.\r\n 13. height:                   continuous from 47.8 to 59.8.\r\n 14. curb-weight:              continuous from 1488 to 4066.\r\n 15. engine-type:              dohc, dohcv, l, ohc, ohcf, ohcv, rotor.\r\n 16. num-of-cylinders:         eight, five, four, six, three, twelve, two.\r\n 17. engine-size:              continuous from 61 to 326.\r\n 18. fuel-system:              1bbl, 2bbl, 4bbl, idi, mfi, mpfi, spdi, spfi.\r\n 19. bore:                     continuous from 2.54 to 3.94.\r\n 20. stroke:                   continuous from 2.07 to 4.17.\r\n 21. compression-ratio:        continuous from 7 to 23.\r\n 22. horsepower:               continuous from 48 to 288.\r\n 23. peak-rpm:                 continuous from 4150 to 6600.\r\n 24. city-mpg:                 continuous from 13 to 49.\r\n 25. highway-mpg:              continuous from 16 to 54.\r\n 26. price:                    continuous from 5118 to 45400.',
  'citation': None}}

In [3]:
automobile.variables

,name,role,type,demographic,description,units,missing_values
0,price,Feature,Continuous,None,continuous from 5118 to 45400,None,yes
1,highway-mpg,Feature,Continuous,None,continuous from 16 to 54,None,no
2,city-mpg,Feature,Continuous,None,continuous from 13 to 49,None,no
3,peak-rpm,Feature,Continuous,None,continuous from 4150 to 6600,None,yes
4,horsepower,Feature,Continuous,None,continuous from 48 to 288,None,yes
5,compression-ratio,Feature,Continuous,None,continuous from 7 to 23,None,no
6,stroke,Feature,Continuous,None,continuous from 2.07 to 4.17,None,yes
7,bore,Feature,Continuous,None,continuous from 2.54 to 3.94,None,yes
8,fuel-system,Feature,Categorical,None,"1bbl, 2bbl, 4bbl, idi, mfi, mpfi, spdi, spfi",None,no
9,engine-size,Feature,Continuous,None,continuous from 61 to 326,None,no
10,num-of-cylinders,Feature,Integer,None,"eight, five, four, six, three, twelve, two",None,no
11,engine-type,Feature,Categorical,None,"dohc, dohcv, l, ohc, ohcf, ohcv, rotor",None,no
12,curb-weight,Feature,Continuous,None,continuous from 1488 to 4066,None,no
13,height,Feature,Continuous,None,continuous from 47.8 to 59.8,None,no
14,width,Feature,Continuous,None,continuous from 60.3 to 72.3,None,no
15,length,Feature,Continuous,None,continuous from 141.1 to 208.1,None,no
16,wheel-base,Feature,Continuous,None,continuous from 86.6 120.9,None,no
17,engine-location,Feature,Binary,None,"front, rear",None,no
18,drive-wheels,Feature,Categorical,None,"4wd, fwd, rwd",None,no
19,body-style,Feature,Categorical,None,"hardtop, wagon, sedan, hatchback, convertible",None,no
20,num-of-doors,Feature,Integer,None,"four, two",None,yes
21,aspiration,Feature,Binary,None,"std, turbo",None,no
22,fuel-type,Feature,Binary,None,"diesel, gas",None,no
23,make,Feature,Categorical,None,"alfa-romero, audi, bmw, chevrolet, dodge, hond...",None,no
24,normalized-losses,Feature,Continuous,None,continuous from 65 to 256,None,yes
25,symboling,Target,Integer,None,"-3, -2, -1, 0, 1, 2, 3",None,no

In [5]:
type(X)

pandas.core.frame.DataFrame

In [6]:
X.shape

(205, 25)

In [10]:
X.head(5)

,price,highway-mpg,city-mpg,peak-rpm,horsepower,compression-ratio,stroke,bore,fuel-system,engine-size,...,length,wheel-base,engine-location,drive-wheels,body-style,num-of-doors,aspiration,fuel-type,make,normalized-losses
0,13495.0,27,21,5000.0,111.0,9.0,2.68,3.47,mpfi,130,...,168.8,88.6,front,rwd,convertible,2.0,std,gas,alfa-romero,NaN
1,16500.0,27,21,5000.0,111.0,9.0,2.68,3.47,mpfi,130,...,168.8,88.6,front,rwd,convertible,2.0,std,gas,alfa-romero,NaN
2,16500.0,26,19,5000.0,154.0,9.0,3.47,2.68,mpfi,152,...,171.2,94.5,front,rwd,hatchback,2.0,std,gas,alfa-romero,NaN
3,13950.0,30,24,5500.0,102.0,10.0,3.40,3.19,mpfi,109,...,176.6,99.8,front,fwd,sedan,4.0,std,gas,audi,164.0
4,17450.0,22,18,5500.0,115.0,8.0,3.40,3.19,mpfi,136,...,176.6,99.4,front,4wd,sedan,4.0,std,gas,audi,164.0

In [11]:
y.head(5)

   symboling
0          3
1          3
2          1
3          2
4          2